- var name='Jack Sorrell'
doctype
html(lang="en").contact
	head
		meta(charset="utf-8")
		title= "Contact | " + name
		meta(name="author" content=name)
		meta(name="description" content="Contact " + name)
		meta(id="vp" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		include includes/favicon
		include includes/bootstrap
		script(src="/javascripts/contact.js" defer)
		link(href="/css/style.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
		script(src="https://www.google.com/recaptcha/api.js")
	body
		.floating-container
			h1 Contact
			form(id="contact-form" class="collapse show" method="POST")
				.form-row
					.form-group.col-md-6.col-12
						label(for="contactFormName") Name
						input(type="text" name="name" class="form-control" id="contactFormName" maxlength=maxNameLength placeholder="John Doe" required)
					.form-group.col-md-6.col-12
						label(for="contactFormEmail") Email
						input(type="email" name="email" class="form-control" id="contactFormEmail" maxlength=maxEmailLength placeholder="name@example.com" required)
				.form-group
					label(for="contactFormMessage") Message
					textarea(name="message" class="form-control" id="contactFormMessage" rows=4 maxlength=maxMessageLength placeholder="Your Message" required)
				div(class="g-recaptcha" data-sitekey=gRecaptchaSiteKey data-size="invisible" data-callback="contactOnSubmit")
				button(id="contact-submit" class="btn btn-primary")
					span Send Message
					img(src="/images/tail-spin.svg" alt="Loading spinner" class="loading-spinner")
			div(id="message-success-alert" class="alert alert-success alert-dismissible" role="alert" style="display: none;")
				h2(class="alert-heading mb-0") Message sent.
				button(type="button" class="close close-alert" aria-label="Close")
					span &times;
			div(id="message-error-alert" class="alert alert-warning alert-dismissible" role="alert" style="display: none;")
				h2(class="alert-heading mb-0") Error sending message. Please try again
				button(type="button" class="close close-alert" aria-label="Close")
					span &times;
