- var name = resumeData.profile.name.first + " " + resumeData.profile.name.last;
doctype
html(lang="en").resume
	head
		meta(charset="utf-8")
		title= "Resume | " + name
		meta(name="author" content=name)
		meta(name="description" content="The online resume of " + name)
		meta(id="vp" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		include includes/favicon
		script(src="/js/contact.js" defer="defer")
		link(href="/css/style.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700%7CRoboto+Slab" rel="stylesheet")
	body
		#resume-container
			#profile-box
				.header
					img(src=resumeData.profile.image alt="Image of Jack; he looks rather human-like").profile-image
					hgroup
						h1.profile-name= resumeData.profile.name.first + " " + resumeData.profile.name.last
						h2.profile-title= resumeData.profile.title
					a(id="contact-button" class="contact-opener" href="/contact/")
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8")
							path(d="M0 0v1l4 2 4-2v-1h-8zm0 2v4h8v-4l-4 2-4-2z" transform="translate(0 1)")
				.details
					.links
						ul
							each link_detail, link_name in resumeData.links
								li.link
									a(href=link_detail.href)
										img(src=link_detail.icon alt).icon
										span.capitalize= link_name
			#main-box
				.section#bio
					h3 ABOUT ME
					p.section-description= resumeData.profile.bio
				.section#education
					h3 DEGREES
					ul
						each school, school_no in resumeData.degrees
							li
								.header
									span.title= school.degree_short + " in " + school.major
									span= moment(school.start_date).format("MMMM YYYY") + " - " + moment(school.end_date).format("MMMM YYYY")
									span= school.name
									span.location= school.location.city + ", " + school.location.state
				.section#courses
					h3 COURSES
					ul
						each category_courses, course_category in resumeData.courses
							li.category
								h4.title= course_category
								ul
									each course, course_no in category_courses
										li.tooltip-container
											span= course.shortName
											.tooltip
												.tooltip-box
													h5.tooltip-title= `${course.id}: ${course.name}`
													p.tooltip-body= course.description
				.section#experiences
					h3 EXPERIENCES
					ul
						each experience, experience_no in resumeData.experiences
							li
								details
									summary.header
										span.title= experience.title
										span= moment(experience.start_date).format("MMMM YYYY") + " - " + moment(experience.end_date).format("MMMM YYYY")
										span= experience.company
										span.location= experience.location.city + ", " + experience.location.state
									p.section-row-description= experience.description
				.section#projects
					h3 PROJECTS
					ul
						each project in resumeData.projects
							li
								details
									summary.header
										span.title= project.name
										span= moment(project.start_date).format("MMMM YYYY") + " - " + moment(project.end_date).format("MMMM YYYY")
									p.section-row-description= project.description
				.section#skills
					h3 SKILLS
					ul
						each skill_list, skill_category in resumeData.skills
							li
								h4.title= skill_category
								ul
									each skill_detail, skill in skill_list
										li
											.skill
												span.skill-name= skill
												span.skill-level= '★'.repeat(skill_detail.level) + '☆'.repeat(5-skill_detail.level)
		footer
			a(href="https://www.useiconic.com/open") Icons from Open Iconic
			span= " | "
			span Updated August 2018
		include includes/contact
